name: Check that all source entities have unique IDs

on:
  push:
    branches-ignore:
      - main
  pull_request:

jobs:
  check-ids:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.x'

      - name: Run ID checker
        run: python check_ids.py src
